@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

div.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
}

header {
  display: flex;
  /* Flex flow me permite cl¿olocar la propiedad flex wrap y flex direction en una sola */
  flex-flow: row wrap;
  /* flex-wrap: wrap;
  flex-direction: row; */
  justify-content: space-between;

  gap: 1rem;
  padding: 1rem 2rem;
  background-color: pink;
}

ul {
  display: flex;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  padding: 0.5rem;
}

section {
  padding: 2rem;
}

footer {
  background-color: pink;
  /* Podemos posicionarlo con fixed */
  /* position: fixed;
  bottom: 0; */
  padding: 2rem 1rem;
  width: 100%;
  text-align: center;
}
